API_ID =  "22453439" # Get it by creating an app on https://my.telegram.org
API_HASH = "7c5b78a27321ebacbb8c16f0622a27af" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "5909665130:AAHrhwhnTS1Yv4GwzDNX2e7lWmF_pyM-Qck" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "6184029705" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
